@model Easy_ManagerWeb.Models.Cliente

@{
    ViewData["Title"] = "Novo Cliente";
}

<div class="d-flex justify-content-between mb-3">
    <h3>Insira os dados do Cliente</h3>
    <a asp-action="Gerenciamento_clientes" class="btn btn-secondary">Voltar</a>
</div>

<div class="card shadow-sm">
    <div class="card-body">
        <form asp-action="Novo_Cliente" method="post">
            <div class="mb-3">
                <label asp-for="Nome" class="form-label">Nome</label>
                <input asp-for="Nome" class="form-control" placeholder="Digite o nome" required />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" type="email" class="form-control" placeholder="Digite o email" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Telefone" class="form-label">Telefone</label>
                <input asp-for="Telefone" class="form-control" placeholder="Digite o telefone" required />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Endereco" class="form-label">Endereço</label>
                <input asp-for="Endereco" class="form-control" placeholder="Digite o endereço" required />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


<script>
    // Tempo de inatividade em minutos antes de desconectar
    const tempoInatividadeMin = 5;
    let tempoMs = tempoInatividadeMin * 60 * 1000;
    let timer;

    function resetTimer() {
        clearTimeout(timer);
        timer = setTimeout(() => {
            window.location.href = '/Account/Logout';
        }, tempoMs);
    }

    // Reinicia o timer a cada movimento do mouse, clique ou tecla
    document.addEventListener('mousemove', resetTimer);
    document.addEventListener('mousedown', resetTimer);
    document.addEventListener('keypress', resetTimer);
    document.addEventListener('touchstart', resetTimer);
    document.addEventListener('scroll', resetTimer);

    // Inicia o timer
    resetTimer();
</script>
