<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Easy Manager Web</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">


    
</head>

<body>
    <button class="btn btn-outline-secondary d-md-none mb-2"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#sidebar"
            aria-controls="sidebar">
        <i class="bi bi-list"></i> Menu
    </button>


    <div class="container-fluid">
        <div class="row">

            <div id="sidebar"
                 class="sidebar offcanvas-md-none offcanvas offcanvas-start bg-white text-dark border-end shadow-sm">



                <div class="offcanvas-header d-md-none">
                    <h5 class="offcanvas-title" id="sidebarLabel">Menu</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <h4 class="text-center py-3 mb-4 border-bottom d-none d-md-block titulo-sistema">
                    <span class="dbs">DBS</span> <span class="delivery">Delivery</span>
                </h4>


                <div class="offcanvas-body p-0 p-md-0">
                    <partial name="_MenuLateral" />
                </div>


                <div class="text-center small mt-auto pt-3 border-top position-absolute bottom-0 start-0 w-100 pb-3 bg-white">
                    @{
                        var usuarioLogado = Context.Session.GetString("usuario_logado") ?? "Visitante";
                    }
                    <i class="bi bi-person-circle"></i> @usuarioLogado
                </div>
            </div>

            <div class="col-12 col-md-9 col-lg-10 ms-sm-auto px-md-4 content-area">

                <header class="navbar navbar-light bg-white border-bottom shadow-sm">
                    <span class="navbar-brand mb-0 h1">@ViewData["Title"]</span>
                </header>

                <main role="main" class="pb-3">
                    @RenderBody()
                </main>

                <footer class="border-top footer text-muted">
                    <div class="container-fluid">
                        &copy; 2025 - Easy Manager Web - TCC
                    </div>
                </footer>

            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>