<div class="list-group list-group-flush">

    <a class="list-group-item list-group-item-action list-group-item-light-custom"
       asp-controller="Relatorios" asp-action="Dashboard">
        <i class="bi bi-speedometer2 me-2"></i> Dashboard
    </a>

    <a class="list-group-item list-group-item-action list-group-item-light-custom"
       asp-controller="Clientes" asp-action="Gerenciamento_clientes">
        <i class="bi bi-person-fill me-2"></i> Clientes
    </a>

    <a class="list-group-item list-group-item-action list-group-item-light-custom"
       asp-controller="Entregas" asp-action="Nova_entrega">
        <i class="bi bi-box-seam-fill me-2"></i> Nova Entrega
    </a>

    <a class="list-group-item list-group-item-action list-group-item-light-custom"
       asp-controller="Orcamentos" asp-action="Orcamento_Avulso">
        <i class="bi bi-receipt me-2"></i> Orçamento Avulso
    </a>

    <a class="list-group-item list-group-item-action list-group-item-light-custom"
       asp-controller="Entregas" asp-action="Gerenciamento_entregas">
        <i class="bi bi-truck-flatbed me-2"></i> Entregas
    </a>
    <a class="list-group-item list-group-item-action list-group-item-light-custom"
       asp-controller="Gastos" asp-action="Gerenciamento_Gastos">
        <i class="bi bi-tools me-2"></i> Gastos
    </a>
    <a class="list-group-item list-group-item-action list-group-item-light-custom"
       asp-controller="Relatorios" asp-action="Lucros">
        <i class="bi bi-graph-up-arrow me-2"></i> Lucros
    </a>

    <a class="list-group-item list-group-item-action list-group-item-light-custom mt-4 text-danger"
       asp-controller="Account" asp-action="Logout">
        <i class="bi bi-box-arrow-right me-2"></i> Sair
    </a>

</div>
